main{
    text-align: center;
}

body{
    background-image: url('türkisz.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.center{
    align-self: center;
}
p{
    font-size: 20px;
    font-weight: bold;
}

#videólink a{
    color: black;
    font-size:20px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

#videólink a:hover{
    background: gray;
}

#video {
    background-color: black;
}