main{
    text-align: center;
}

body{
    background-image: url('türkisz.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.center{
    align-self: center;
}

#video {
    background-color: black;
}